<div class="row clearfix">
	<% if reminder_item.completed? %>
		<div class="complete">
			<%= link_to complete_reminder_reminder_item_path(@reminder, reminder_item.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="reminder_item">
			<p style="opacity: 0.4;"><strike><%= reminder_item.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to reminder_reminder_item_path(@reminder, reminder_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_reminder_reminder_item_path(@reminder, reminder_item.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="reminder_item">
			<p><%= reminder_item.content %></p>
		</div>
		<div class="trash">
			<%= link_to reminder_reminder_item_path(@reminder, reminder_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>